.DS_Store
.vscode
.idea

# Environment files for docker
*.env
*.env.*
!*.env.example

# Vendor/logs
vendor
logs

# Hashicorp's Vault
vault
vault-data
*.hcl

# Configuration files
conf/config.*.json
conf/*.txt
!conf/config.*.example.json